---
import './hero.css';

---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Campbell Turner</h1>
			<p class="hero__text">
				Game Designer, Programmer, Solo Dev
			</p>
			<p>
				Multi-passionate creator
			</p>
		</div>
    <img
		class="hero__img"
		src="/img/Self-Portrait-2.png"
		alt="Campbell Turner"
		width="384"
    	height="384"
	/>
	</div>
</section>
