---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="About Me" />
		<p>
			From a young age I've always loved the feeling of creating things. Putting together small parts 
			and making them work together has always been a magical, satisfying experience, whether that be 
			turning lines of code into a program, assembling bones into a rig, or taking disparate mechanics 
			and turning them into a fun game. 
			I have knowledge of Maya, Blender, Unity, C#, Unreal, C++, SQL, Jira, and Agile Methodology.
			Driven by the goal of getting better every day, I am committed to learning all I can and improvement 
			via iteration. I am eager to collaborate with like-minded people to create things that are satisfying 
			and simple to use.
		</p>
	</div>
</section>
